body {
  height: 100vw;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #b77b82;
}

h1 {
  color: #873260;
  font-size: 40px;
  font-family: "Pacifico", cursive;
  text-align: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(4, 110px);
  grid-template-rows: repeat(4, 110px);
  gap: 12px;
  padding: 20px;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.rectangular {
  width: 110px;
  height: 110px;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50' height='50' patternTransform='scale(3) rotate(40)'><rect x='0' y='0' width='100%' height='100%' fill='%23e15283ff'/><path d='M29.688 0v1.562h3.125V0Zm-9.375 0h-3.125v1.562h3.125zm9.375 48.437V50h3.125v-1.563zm-12.5 0V50h3.125v-1.563zm12.5-3.125h-3.125v3.125h3.125zm-3.125-3.125h-3.125v3.125h3.125zm-6.25 3.125v3.125h3.125v-3.125zm28.125-12.5H50v-3.125h-1.562ZM50 20.312v-3.125h-1.562v3.125zm-4.687 9.375h3.125v-3.125h-3.125zm0-6.25h-3.125v3.125h3.125zm3.125 0v-3.125h-3.125v3.125zM0 29.687v3.125h1.563v-3.125zm1.563-12.5H0v3.125h1.563zm0 9.375v3.125h3.125v-3.125zm3.125-3.125v3.125h3.125v-3.125zm0-3.125H1.563v3.125h3.125Zm21.875-18.75v3.125h3.125V1.562Zm-3.125 3.125v3.125h3.125V4.687Zm0-3.125h-3.125v3.125h3.125z'  stroke-width='1' stroke='none' fill='%234b8cecff'/><path d='M14.063 18.75V25h3.125v3.125h3.125v3.125h3.125v3.125h3.125V31.25h3.125v-3.125h3.125V25h3.125v-6.25h-3.125v-3.125h-6.25v3.125h-3.125v-3.125h-6.25v3.125z'  stroke-width='1' stroke='none' fill='%239c27b0ff'/><path d='M37.5 40.625h3.125V37.5H37.5Zm3.125 3.125h3.125v-3.125h-3.125zm3.125 3.125h3.125V43.75H43.75ZM50 50v-3.125h-3.125V50Zm-37.5-9.375V37.5H9.375v3.125zM9.375 43.75v-3.125H6.25v3.125ZM6.25 46.875V43.75H3.125v3.125zM3.125 50v-3.125H0V50Zm37.5-37.5V9.375H37.5V12.5Zm3.125-3.125V6.25h-3.125v3.125Zm3.125-3.125V3.125H43.75V6.25Zm0-3.125H50V0h-3.125ZM12.5 12.5V9.375H9.375V12.5ZM6.25 9.375h3.125V6.25H6.25ZM3.125 6.25H6.25V3.125H3.125ZM0 3.125h3.125V0H0Z'  stroke-width='1' stroke='none' fill='%233f51b5ff'/></pattern></defs><rect width='800%' height='800%' transform='translate(-123,-57)' fill='url(%23a)'/></svg>");
  background-size: cover;
  background-position: center;
  background-color: #d3d3d3;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.flipped {
  background-color: white;
  transform: rotateY(180deg);
}

.rectangular img {
  width: 60%;
}

.flipped img {
  display: block;
}
