body {
  height: 100vw;
  width: 100vw;
  background-color: #b77b82;
}

h1 {
  color: #873260;
  font-size: 40px;
  font-family: "Pacifico", cursive;
  text-align: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(4, 110px);
  grid-template-rows: repeat(4, 110px);
  gap: 12px;
  padding: 20px;
  justify-content: center;
  width: fit-content;
}

.rectangular {
  width: 110px;
  height: 110px;
  background-color: #d3d3d3;
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#scoreDisplay {
}

.livesDsiplay {
}

.timeDisplay {
}
